.app-footer {
    background-color: #27ae60; /* Dark blue color */
    color: white; /* Text color */
    text-align: center; /* Center text */
    padding: 20px; /* Padding */
    position: relative;
    bottom: 0;
    width: 100%;
  }
  